<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Counter Worklist </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div id='root'></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/babel">



    var Breadcumb = React.createClass({
        render: function () {
            return (
                    <ol className="breadcrumb">
                        <li className="breadcrumb-item"><a href="#">Home</a></li>
                        <li className="breadcrumb-item"><a href="#">Worklist</a></li>

                    </ol>

            )

        }
    });



    var DropdownUser = React.createClass({
        render: function() {
            return (
                    <div className="btn-group">
                        <button type="button" className="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nama User <span className="caret"></span>
                        </button>
                        <ul className="dropdown-menu">
                            <li><a href="#">Ganti Warehouse</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>

            );
        }
    });


    var JudulWorklist = React.createClass({
        render: function () {
            return (
                    <div> <h3> Worklist </ h3> </div>

            )

        }
    });

    var JudulTabel = React.createClass({
        render: function() {
            return (


                    <div>
                        <table className="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Stock Opname No.</th>
                                <th>Status</th>
                                <th>Total Qty</th>
                                <th>SKU</th>
                                <th>Waktu Pembuatan</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <div className="input-group">
                                        <input type="text" className="form-control" placeholder="Cari Storage Code"/>
                                    </div>
                                </td>

                                <td>
                                    <div className="btn-group">
                                        <button type="button" className="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Semua <span className="caret"></span>
                                        </button>
                                        <ul className="dropdown-menu">
                                            <li><a href="#">Open</a></li>
                                            <li><a href="#">Assigned</a></li>
                                            <li><a href="#">In Progress</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <div className="input-group">
						      <span className="input-group-addon">
						        <input type="checkbox" aria-label="..."/>
						      </span>
                                    </div>
                                </td>
                                <td>STO/WAB-000012/XI-2016/0005</td>
                                <td>Open</td>
                                <td>100</td>
                                <td>11</td>
                                <td>11/06/2016</td>
                                <td>Detail{this.props.name}</td>
                            </tr>

                            <tr>
                                <td>
                                    <div className="input-group">
						      <span className="input-group-addon">
						        <input type="checkbox" aria-label="..."/>
						      </span>
                                    </div>
                                </td>
                                <td>STO/WAB-000012/XI-2016/0005</td>
                                <td>Open</td>
                                <td>100</td>
                                <td>11</td>
                                <td>11/06/2016</td>
                                <td>Detail{this.props.name}</td>
                            </tr>

                            <tr>
                                <td>
                                    <div className="input-group">
						      <span className="input-group-addon">
						        <input type="checkbox" aria-label="..."/>
						      </span>
                                    </div>
                                </td>
                                <td>STO/WAB-000012/XI-2016/0005</td>
                                <td>Open</td>
                                <td>100</td>
                                <td>11</td>
                                <td>11/06/2016</td>
                                <td>Detail{this.props.name}</td>
                            </tr>

                            <tr>
                                <td>
                                    <div className="input-group">
						      <span className="input-group-addon">
						        <input type="checkbox" aria-label="..."/>
						      </span>
                                    </div>
                                </td>
                                <td>STO/WAB-000012/XI-2016/0005</td>
                                <td>Open</td>
                                <td>100</td>
                                <td>11</td>
                                <td>11/06/2016</td>
                                <td>Detail{this.props.name}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>




            );
        }
    });


    var Pagination = React.createClass({
        render: function () {
            return (
                    <nav aria-label="..." className="right-side">
                        <ul className="pagination">
                            <li className="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li><a href="#">First</a></li>
                            <li className="active"><a href="#">1 <span className="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Last</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
            );
        }
    });




    var Gabungan = React.createClass({
        render: function () {
            return (
                    <div>
                        <div className="row">
                            <div className="col-sm-10"> <Breadcumb/> </div>
                            <div className="col-sm-2 right-side"> <DropdownUser/> </div>
                        </div>
                        <JudulWorklist/>
                        <JudulTabel/>

                        <div className="right-side"><Pagination/></div>

                    </div>
            );
        }
    });





            ReactDOM.render(
            <Gabungan />, document.getElementById('root') );
</script>

</body>
</html>