<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Counter Worklist </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div id='root'></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/babel">

    var JudulStockOpname = React.createClass({
        render: function () {
            return (
                    <div> <h3> STO/WAB-000012/XI-2016/0005 </ h3> </div>

            )

        }
    });


    var LabelAssigned= React.createClass({
        render: function () {
            return (
                    <div>  <button> Assigned </button> </div>
            )
        }
    });


    var ButtonMulaiMenghitung = React.createClass({
        render: function () {
            return (
                    <div>  <button> Mulai Menghitung </button></div>
            )
        }
    });

    var DropdownUser2 = React.createClass({
        render: function() {
            return (
                    <div className="btn-group">
                        <button type="button" className="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nama User <span className="caret"></span>
                        </button>
                        <ul className="dropdown-menu">
                            <li><a href="#">Ganti Warehouse</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>

            );
        }
    });




    var JudulTabel2 = React.createClass({
        render: function() {
            return (


                    <div>
                        <table className="table">
                            <thead>
                            <tr>

                                <th>SKU ID</th>
                                <th>Nama Item</th>
                                <th>Tipe Stock</th>
                                <th>Storage Code </th>
                                <th>Qty Fisik</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>

                                <td>MTA-0001</td>
                                <td>Sabun Lifebuoy</td>
                                <td>Trading</td>
                                <td>A-001-1-1-1</td>
                                <td>-</td>

                            </tr>

                            <tr>

                                <td>MTA-0001</td>
                                <td>Sabun Nuvo</td>
                                <td>Trading</td>
                                <td>A-001-1-1-1</td>
                                <td>-</td>

                            </tr>

                            <tr>

                                <td>MTA-0001</td>
                                <td>Sabun Biore</td>
                                <td>Trading</td>
                                <td>A-001-1-1-1</td>
                                <td>-</td>

                            </tr>
                            
                            </tbody>
                        </table>
                    </div>




            );
        }
    });






    var Gabungan2 = React.createClass({
        render: function () {
            return (
                    <div>
                        <DropdownUser2/>
                        <div className="row">
                            <div className="col-md-6"> <JudulStockOpname/> </div>
                            <div className="col-md-1"> <LabelAssigned/> </div>
                            <div className="col-md-5"> <ButtonMulaiMenghitung/> </div>
                        </div>
                        <JudulTabel2/>
                    </div>

            );
        }
    });
            ReactDOM.render(
            <Gabungan2 />, document.getElementById('root') );
</script>

</body>
</html>